# Python Basics

## Hello world!

To print "Hello world!" using `python`, we just need to call the function `print()` with the string `"Hello world!"`

In [14]:
print("Hello world!")

Hello world!

## Basic math and variables

### Basic operations

Basic mathematical operations can be performed between values of the **same** type (e.g. `int`, `float`, `boolean`, `str`).

In [22]:
# Sum (by the way, this is how to comment stuff in python :))
2 + 2

4

In [31]:
# Subtraction
8 - 3

5

In [30]:
# Multiplication
3.5 * 4

14.0

In [32]:
# Division
4.5 / 1.5

3.0

In [26]:
# concatenation of string 
"pippo" + "pluto"

'pippopluto'

In [27]:
# different types -> strange results or errors
"pippo" + 2

TypeError: can only concatenate str (not "int") to str

In [33]:
# in this case True is a bool and it is converted to the int 1.
2 + True

3

### Variables and types

A variable is a container for storing data values. A variable is created in the moment we assign a value to it. For example, if we want to define a variable $x$ containing the value $2$

In [36]:
x = 2
x

2

Once we assign to a variable a value, we can perform operations

In [37]:
x + x

4

To define $2$ as a `float` we put a dot next to it

In [7]:
x = 2.

The command `type()` leads us to compute the type of a variable. We can transform a `float` to an `int` via the command `int()`

In [15]:
type(x)

float

In [16]:
type(int(x))

int

## Containers

As the name suggests, a container is an object that store multiple items in a single variable. There are $4$ built-in containers in `python`: lists, tuples, dictionaries and sets.

### Lists

In [2]:
# definition of a list storing variables of different types
l = [1, False, "Aarhus", 15, 24]
l

[1, False, 'Aarhus', 15, 24]

In [3]:
# get the first element of a list 
l[0]

1

In [4]:
# length of a list
len(l)

5

Let's see some easy tricks :)

In [89]:
# last element
l[-1]

24

In [90]:
# the list l without the first element
l[1:]

[False, 'Aarhus', 15, 24]

In [91]:
# the list l without the last element
l[:-1]

[1, False, 'Aarhus', 15]

In [92]:
# get even-indexed elements
l[::2]

[1, 'Aarhus', 24]

In [93]:
# reverse a list
l[::-1]

[24, 15, 'Aarhus', False, 1]

We can also define list of lists

In [94]:
ll = [l, l[1:]]
ll

[[1, False, 'Aarhus', 15, 24], [False, 'Aarhus', 15, 24]]

Be careful with indices: what is `ll[0][::2]`?

#### Basic list methods

In [73]:
# add to the end
l.append("pluto")
l

[1, False, 'Aarhus', 15, 24, 'pluto']

In [77]:
# alternative to append (as we did for the strings)
l + ["pluto"]

[1, False, 'Aarhus', 15, 24, 'pluto', 'pluto']

In [79]:
# "pop off" item 0 from the list
l.pop(0)

1

In [80]:
# duble the list
l*2

[False, 'Aarhus', 15, 24, False, 'Aarhus', 15, 24]

### Tuples

Tuples are similar to list, however unlike list they are *immutable* meaning they can not be changed.

In [7]:
# definition of a tuple
t = (1, 2, "data science")
t

(1, 2, 'data science')

In [8]:
# length of a tuple
len(t)

3

In [9]:
# slicing as lists
t[-1]

'data science'

In [10]:
# immutability
t[0] = 5

TypeError: 'tuple' object does not support item assignment

#### Basic tuple methods

In [11]:
# get the index of a given value
t.index(1)

0

In [13]:
# count number of occurrencies of a given value
t.count(1)

1

### Dictionaries

Dictionaries are containers that store data values in key:value pairs.
They are ordered, changeable and *do not* allow duplicates

In [16]:
# definition of a dictionary.
d = {"key_1": 1, "key_2": 2, "key_3": "Aarhus"}
d

{'key_1': 1, 'key_2': 2, 'key_3': 'Aarhus'}

In [18]:
# access a given key
d["key_2"]

2

In [23]:
# change the value of a key
d["key_3"] = [1,2,3]
d

{'key_1': 1, 'key_2': 2, 'key_3': [1, 2, 3], 'key_4': (1, 2, 3)}

In [22]:
# create new keys by assignment
d["key_4"] = (1,2,3)
d

{'key_1': 1, 'key_2': 2, 'key_3': [1, 2, 3], 'key_4': (1, 2, 3)}

#### Basic dictionaries methods

In [24]:
# get the keys of a dictionary
d.keys()

dict_keys(['key_1', 'key_2', 'key_3', 'key_4'])

In [25]:
# get the values of a dictionary
d.values()

dict_values([1, 2, [1, 2, 3], (1, 2, 3)])

### Sets

Sets are unordered collections of *unique* and *unchangable* elements

In [28]:
# empty set
s = set()

In [32]:
# add elements to a set
s.add(1)
s

{1}

In [33]:
s.add(2)
s

{1, 2}

In [35]:
# immutability
s[0]

TypeError: 'set' object is not subscriptable

In [36]:
# from list to set
l = [1,2,3]
set(l)

{1, 2, 3}

## Functions

A function is an object that groups together a set of statements and leads us to use them multiple times quickly. It is an object that takes arguments and return something and/or modify them.

In [41]:
# a function to compute the square of a number
def square(num):
    # indentation is CRUCIAL
    square_num = num**2
    return square_num

In [42]:
num = 5
square(num)

25

### map function

This function "map" a given function to an iterable object.

In [44]:
# for example, what if we want to apply square() to a list?
l = [1,2,3,4]
map(square, l)

In [45]:
# to get the result we need to cast the previous object to a list
list(map(square, l))

[1, 4, 9, 16]

### lambda expression

This tool allow us to create anonymous functions, i.e. functions without the classical def statement. This helps in simple cases, e.g. when we want to map a simple functions without defining it.

In [47]:
# for example, let's create the function square() using lambda
square_lambda = lambda num: num**2
square_lambda(5)

25

In [48]:
# one-line code for the square of a given list
l = [1,2,3,4]
list(map(lambda num: num**2, l))

[1, 4, 9, 16]