# Python Basics

## Hello world!

To print "Hello world!" using `python`, we just need to call the function `print()` with the string `"Hello world!"`

In [14]:
print("Hello world!")

Hello world!

## Basic math and variables

### Basic operations

Basic mathematical operations can be performed between values of the **same** type (e.g. `int`, `float`, `boolean`, `str`).

In [22]:
# Sum (by the way, this is how to comment stuff in python :))
2 + 2

4

In [31]:
# Subtraction
8 - 3

5

In [30]:
# Multiplication
3.5 * 4

14.0

In [32]:
# Division
4.5 / 1.5

3.0

In [26]:
# concatenation of string 
"pippo" + "pluto"

'pippopluto'

In [27]:
# different types -> strange results or errors
"pippo" + 2

TypeError: can only concatenate str (not "int") to str

In [33]:
# in this case True is a bool and it is converted to the int 1.
2 + True

3

### Variables and types

A variable is a container for storing data values. A variable is created in the moment we assign a value to it. For example, if we want to define a variable $x$ containing the value $2$

In [36]:
x = 2
x

2

Once we assign to a variable a value, we can perform operations

In [37]:
x + x

4

To define $2$ as a `float` we put a dot next to it

In [7]:
x = 2.

The command `type()` leads us to compute the type of a variable. We can transform a `float` to an `int` via the command `int()`

In [15]:
type(x)

float

In [16]:
type(int(x))

int

## Containers

As the name suggests, a container is an object that store multiple items in a single variable. There are $4$ built-in containers in `python`: lists, tuples, dictionaries and sets.

### Lists

In [85]:
# definition of a list storing variables of different types
l = [1, False, "Aarhus", 15, 24]
l

[1, False, 'Aarhus', 15, 24]

In [88]:
# get the first element of a list 
l[0]

1

Let's see some easy tricks :)

In [89]:
# last element
l[-1]

24

In [90]:
# the list l without the first element
l[1:]

[False, 'Aarhus', 15, 24]

In [91]:
# the list l without the last element
l[:-1]

[1, False, 'Aarhus', 15]

In [92]:
# get even-indexed elements
l[::2]

[1, 'Aarhus', 24]

In [93]:
# reverse a list
l[::-1]

[24, 15, 'Aarhus', False, 1]

We can also define list of lists

In [94]:
ll = [l, l[1:]]
ll

[[1, False, 'Aarhus', 15, 24], [False, 'Aarhus', 15, 24]]

Be careful with indices: what is `ll[0][::2]`?

### Basic list operations

In [73]:
# add to the end
l.append("pluto")
l

[1, False, 'Aarhus', 15, 24, 'pluto']

In [77]:
# alternative to append (as we did for the strings)
l + ["pluto"]

[1, False, 'Aarhus', 15, 24, 'pluto', 'pluto']

In [79]:
# "pop off" item 0 from the list
l.pop(0)

1

In [80]:
# duble the list
l*2

[False, 'Aarhus', 15, 24, False, 'Aarhus', 15, 24]

### Tuples

### Dictionaries

### Sets