# Python Basics - Part 2

## If-else statements

`if-else` statements allows us to tell the machine to perform an action rather than another based on a set of alternatives.

In [13]:
# print the parity of a given number
n = 47
if n%2 == 0:
    print(f"{n} is an even number")
else:
    print(f"{p} is an odd number")

47 is an odd number

In [16]:
# print a number only if it's multiple of 2 or 3
n = 6
if n%2 == 0 or n%3 == 0:
    print(n)
else:
    # do nothing
    pass

6

We use `elif` to handle more than two statements, as it can be seen in the following example.

In [19]:
# compute the square of a number if its even, its cube if its divisible by 3,
# otherwise the starting number 
n = 6

if n%2 == 0:
    print(n**2)
elif n%3 == 0:
    print(n**3)
else:
    print(n)

36

## For loops

The `for` loop acts as an iterator in Python. It goes through items that are in a sequence or any other iterable item.
It behaves differently according to the data/container type on which we iterate.

Similarly, the while loop execute a single or a group of statements as long as the condition is true.

### Iterating through a list

In [21]:
l = [1,4, "Aarhus", 29]
# print all the elements of the list
for elem in l:
    print(elem)

1
4
Aarhus
29

#### enumerate

What if, in the previous example, we also want to print the indexes of the elements? There is a method in Python called `enumerate()` that adds a counter to an iterable and returns it in a form of enumerating object.

In [24]:
# basic example
print(list(enumerate(l)))

[(0, 1), (1, 4), (2, 'Aarhus'), (3, 29)]

In [25]:
for index, elem in enumerate(l):
    print(f"The {index}-element of the list is {elem}")

The 0-element of the list is 1
The 1-element of the list is 4
The 2-element of the list is Aarhus
The 3-element of the list is 29

### Iterating through a tuple

In [36]:
# same as lists
t = (1,2,3)
for elem in t:
    print(elem)

1
2
3

### Iterating through a dictionary

In [29]:
d = {"key1": 1, "key2":2, "key3": 3}
# get all the keys of the dictionary
for key in d:
    print(key)

key1
key2
key3

In [30]:
# get all the information of d using items()
for key, value in d.items():
    print(f"The key {key} contains the value {value}")

The key key1 contains the value 1
The key key2 contains the value 2
The key key3 contains the value 3

In [31]:
# get only the values of d using values()
for value in d.values():
    print(value)

1
2
3

### Iterating through a string

In [32]:
s = "Aarhus"
for letter in s:
    print(letter)

A
a
r
h
u
s

### Iterate inside a container

In [27]:
# one line code to build the square list of a given list
l = [1,2,3,4,5]
l_square = [i**2 for i in l]
l_square

[1, 4, 9, 16, 25]

In [38]:
# list of squares of even-indexed terms and cubes of odd-indexed terms
l = [1,2,3,4,5]
l_mix = [i**2 if index%2 == 0 else i**3 for index, i in enumerate(l)]
l_mix

[1, 8, 9, 64, 25]

## While loops

A while statement repeatedly execute a single or a group of statements  as long as the condition is true.

In [39]:
x = 0

while x < 10:
    print(f"x={x}")
    print(f"Since {x}<10, update x")
    x+=1

x=0
Since 0<10, update x
x=1
Since 1<10, update x
x=2
Since 2<10, update x
x=3
Since 3<10, update x
x=4
Since 4<10, update x
x=5
Since 5<10, update x
x=6
Since 6<10, update x
x=7
Since 7<10, update x
x=8
Since 8<10, update x
x=9
Since 9<10, update x

### break and continue

The `break` statement lead us to break up the current loop immediately. The `continue` statement lead us to go to the top of the closest enclosing loop.

In [1]:
x = 0

while x < 10:
    print(f"x={x}")
    print(f"Since {x}<10, update x")
    x+=1
    if x==3:
        print("Break! x=3")
        break
    else:
        print('Go on')
        continue

x=0
Since 0<10, update x
Go on
x=1
Since 1<10, update x
Go on
x=2
Since 2<10, update x
Break! x=3

## Functions

A function is an object that groups together a set of statements and leads us to use them multiple times quickly. It is an object that takes arguments and return something and/or modify them.

In [31]:
# a function to compute the square of a number
def square(num):
    # indentation is CRUCIAL
    square_num = num**2
    return square_num

In [33]:
n= 5
# Method 1
print(square(num=n))
# Method 2
print(square(n))

25
25

Pay attention: all the keyword arguments must be after all the non-keyword arguments. Moreover the arguments' order matters only for non keyword arguments.

In [44]:
# example
def div(a, b):
    return a/b

In [45]:
a = 5
b = 6
# WRONG
div(a = a, b)

SyntaxError: positional argument follows keyword argument (1113319494.py, line 4)

In [46]:
# correct
a = 5
b = 6
div(a=a, b=b)

0.8333333333333334

In [49]:
# also correct
a = 5
b = 6
div(b=b, a=a)

0.8333333333333334

In [48]:
# also correct
a = 5
b = 6
div(a, b)

0.8333333333333334

In some functions, we have arguments pre-defined to a standard value.

In [26]:
def multiply(a,b=2):
    return a*b

In [29]:
print(f"b predefined: {multiply(5)}")
print(f"b not predefined: {multiply(5,7)}")

b predefined: 10
b not predefined: 35

### map function

This function `map` a given function to an iterable object.

In [3]:
# for example, what if we want to apply square() to a list?
l = [1,2,3,4]
map(square, l)

In [4]:
# to get the result we need to cast the previous object to a list
list(map(square, l))

[1, 4, 9, 16]

### lambda expression

This tool allow us to create anonymous functions, i.e. functions without the classical def statement. This helps in simple cases, e.g. when we want to map a simple functions without defining it.

In [5]:
# for example, let's create the function square() using lambda
square_lambda = lambda num: num**2
square_lambda(5)

25

In [6]:
# one-line code for the square of a given list
l = [1,2,3,4]
list(map(lambda num: num**2, l))

[1, 4, 9, 16]

### `*args` and `**kwargs`

Suppose that we want to define a function that compute the square of the sum of two numbers $n,m$.
This can be done easily as we have seen before with the $square()$ function.

In [1]:
def sum_squared(n,m):
    return sum((n,m))**2

In [3]:
sum_squared(2,3)

25

What if we want to work with 6 numbers instead of two?

In [4]:
# Method 1
def brutal_sum_squared(n1,n2,n3,n4,n5,n6):
    return sum((n1,n2,n3,n4,n5,n6))**2

In [5]:
brutal_sum_squared(1,2,3,4,5,6)

441

In [14]:
# Method 2
#NOTE: it works for ANY number of arguments
def elegant_sum_squared(*args):
    # args is a tuple!
    return sum(args)**2

In [15]:
print(f"4 arguments: {elegant_sum_squared(1,2,3,4)}")
print(f"6 arguments: {elegant_sum_squared(1,2,3,4,5,6)}")
print(f"8 arguments: {elegant_sum_squared(1,2,3,4,5,6,7,8)}")

4 arguments: 100
6 arguments: 441
8 arguments: 1296

Hence, `*args` leads us to handle multiple non-keyword arguments. 
Instead, to handle multiple keyword arguments it can be used `**kwargs`.

In [23]:
def presentation(**kwargs):
    # kwargs is a dictionary!
    for key,value in kwargs.items():
        print(f"My {key} is {value}.")

In [25]:
presentation(name = "Mickey", surname="Mouse", age=94, email ="unknown")

My name is Mickey.
My surname is Mouse.
My age is 94.
My email is unknown.